In [1]:
import numpy as np

In [2]:
import pandas as pd

In [12]:
labels = ["a","b", "c"]
my_data = [10,20,30]
arr = np.array(my_data)

In [16]:
s1 = pd.Series(arr, labels)
s1

a    10
b    20
c    30
dtype: int32

In [18]:
s2 = pd.Series([100, 200, 300], ["India", 'USA', "Japan"])
s2

India    100
USA      200
Japan    300
dtype: int64

In [19]:
s1 + s2

India   NaN
Japan   NaN
USA     NaN
a       NaN
b       NaN
c       NaN
dtype: float64

In [26]:
s3 = pd.Series([500, 700, 300], ["India", 'USA', "Japan"])
s3

India    500
USA      700
Japan    300
dtype: int64

In [29]:
s2 + s3

India    600
USA      900
Japan    600
dtype: int64

In [31]:
s4 = pd.Series([500, 700, 300, 8000], ["India", 'USA', "Japan", "Germany"])
s4

India       500
USA         700
Japan       300
Germany    8000
dtype: int64

In [35]:
s4 + s2

Germany      NaN
India      600.0
Japan      600.0
USA        900.0
dtype: float64